.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .mainContent {
    background-color: red;
  }

  .secondaryContent {
    background-color: aqua;
    img{
      height: 200px;
      width: 200px;
    }
  }
}