@import 'src/common/style/Mixins';

.container {
  @include displayFlex(center, center, row);
  height: 100%;


  .mainContent {
    @include displayFlex(start, flex-start, column);
    width: 60%;
    height: 100%;


    .contentContainer {
      @include displayFlex(center, center, row);
      margin-top: 5%;
      height: 70%;

      .title {
        @include displayFlex(start, start, row);
      }

      .btnContainer {
        @include displayFlex(start, center, column);
        width: 20%;
        height: 250px;

        button {
          font-size: 20px;
          color: white;
          margin-top: 10px;
          height: 60px;
          width: 60px;
          border-radius: 100%;
          border: 0.5px white solid;
          background: none;


        }

        .active {
          background: white;
          color: black;
        }
      }

      .content {
        color: white;
        width: 80%;
      }
    }

  }

  .secondaryContent {
    height: 100%;
    width: 40%;
    @include displayFlex(start, center, column);

    img {
      margin-left: 20%;
      height: 80%;
      width: 80%;
    }
  }
}