@import 'src/common/style/Mixins';

.container {
  height: 100%;
  @include displayFlex(center,center,row);

  background-color: #999292;

  .mainContent {
    width: 50%;
    height: 100%;
    background-color: red;
  }

  .secondaryContent {
    background-color: #6aff00;
    height: 100%;
    width: 50%;
  }
}