@import 'src/common/style/Mixins';
.app {
  width: 100vw;
  height: 100vh;

  .header {
    height: 25%;
    margin: 0;
    @include displayFlex(center,end,row);


    .btn {
      width: 60%;
      display: flex;
      justify-content: space-around;
      height: 40%;
      background-color: rgba(101 100 108 / 50%);

      button {
        color: #fff;
        font-size: 14px;
        border: 0;
        background: none;


      }
      .active {
        border-bottom: white 2px solid;
      }

    }
  }

  .content {
    height: 75%;
    display: flex;
    justify-content: center;
    .infoContent {
      height: 90%;
      width: 80%;
    }
  }
}

