@import 'src/common/style/Mixins';


.container {
  @include displayFlex(center, space-evenly, row);

  .mainContent {
    height: 100%;
    width: 50%;
    @include displayFlex(start, space-between, column);
    font-size: 20px;
    font-family: 'Lustria', serif;
    font-weight: bold;

    span {
      margin-left: 5%;

      :first-child {
        color: rgba(101 100 108 / 50%);
      }
    }

    img {
      width: 80%;
      height: 80%;
    }
  }

  .secondaryContent {
    height: 100%;
    width: 50%;

    .btnContainer {

      button {
        color: #fff;
        font-size: 14px;
        border: 0;
        background: none;
        margin: 0 20px 20px 0;
      }
    }

    .description {
      display: flex;
      flex-direction: column;

      :nth-child(1) {
        font-size: 80px;
        font-family: 'Lustria', serif;
      }

      :nth-child(2) {
        font-weight: lighter;
      }
    }

    .distanceInfo {
      display: flex;
      flex-direction: row;
      margin: 20px;

      .info {
        margin-right: 20%;
        display: flex;
        flex-direction: column;

        :nth-child(1) {
          font-size: 12px;
        }

        :nth-child(2) {
          font-size: 22px;
        }
      }
    }
  }
}